@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

body {
  font-size: 11px;
  font-family: "Outfit", sans-serif;
  background-color: var(--Light-gray);
  height: 100vh;
}
.container {
  justify-content: center;
  align-items: center;
  background-color: var(--White);
  width: 450px;
  height: auto;
  margin: 50px auto;
  padding: 20px;
  position: relative;
  border-radius: 25px;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .container {
    width: 100%;
  }
  img {
    object-fit: contain;
  }
}

img {
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 15px;
}

h1 {
  line-height: 1.5;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 20px;
  max-width: 375px;
  margin: 10px auto;
}

p {
  font-size: 1.3rem;
  max-width: 375px;
  margin: 10px auto;
  padding: 20px;
  font-weight: 400;
}

footer {
  text-align: center;
  justify-content: center;
}
